@import url('https://fonts.googleapis.com/css?family=Roboto');

*{font-family: 'Roboto', sans-serif; font-display: swap}

a{color: #3F3F3F}

a.azul{color: #009CDE}

/* .img-banner {
    background-image: url("../img/banner/bombillos.jpg");
    background-image: url("../img/banner/bombillos.jpg"), linear-gradient(#eb01a5, #d13531);
    height: 400px;
} */

.img-banner {
    width: 100%;
    height: 100%;
}

.img-banner img {
    width: 100%;
}

.img-banner p {
    text-align: center;
    bottom: 20px;
    margin-top: 300px;
}

sup{font-weight: 800%; color: #009CDE;font-size: 2.5em}

.logo_principal{width: 90px;margin: 0;padding: 0}

.slogan_principal{color: #3F3F3F}

.enlaces_menu{padding: 0 20px;}

.enlaces_menu_yellow{padding: 10px;background-color: #F8E800;border-radius: 10px;font-weight: 700;}

.barra ul{margin: 0px 10px}

.numero{font-size: 550%;font-weight: 900; color: #009CDE;box-sizing: border-box;padding: 30;font-family:sans-serif;font-display: swap}

.texto_numero{padding: 15% 5%}

.btn-boton{background: #009CDE; border-radius: 10px;font-size: 1.6em;color: #fff;margin: 0;padding: 0 30px;box-sizing: border-box}

.pequenio{color: #3F3F3F;text-align: center;margin: 5px}

.subtitulo{color:#3F3F3F;font-weight: 900}

.franja{padding: 0 0}

.titulo-tarjetas{text-align: center;font-weight: 600}

.tit-fijo{box-sizing: border-box}

.pad{padding: 0px; border: none}

.franja-intermedia{text-align: center}
.franja-intermedia p{width: 70%;margin: auto}

.contenido{background: #009CDE; padding: 10%;height: 550px; box-sizing: border-box}

.contenido table{margin: auto;text-align: left}
.contenido p{text-align: left;color: #fff}
.contenido h3{text-align: left;color: #fff;margin: 25px 0}
.contenido img{width: 100px}

.see_all{float: right}

.img-x{width: 100px;margin: 10px}
.text{color: #fff;padding: 0 0 0 30px;font-weight: 550px;font-size: 2em}
.contenido_parrafos{padding: 0 0 0 30px;color: #fff;max-width: 400px}

.contenido_img img{width: 100%;height: 550px}

.contenido_app{color: #3F3F3F;padding: 15% 0 15% 25%}
.contenido_app img{width: 150px}

.contenido_app_img{padding-top: 5%}
.contenido_app_img img{width: 60%}

.banner{font-size: 2em;text-align: center;background-image: url(../img/banner/banner.webp);background-size: cover;background-position: center center; background-repeat: no-repeat;height: 600px}
.banner p{padding: 430px 0; color: #fff;font-size: 1.5em}
.banner .amarillo{color: #F8E800}

.oferta_img img{width: 500px;margin: 5% 10% 20px 30%}
.oferta_img{text-align: center}

.oferta{max-width: 400px;margin:20% 20% 20% 5%;text-align: left}


.boton_partner{background: #009CDE;padding: 7px 40px;border-radius: 5px;color: #fff;font-size: 1.6em}

.nuestros_clientes{text-align: center;max-width: 800px;margin: auto;color: #3F3F3F;padding: 50px 10px}

.nuestros_horarios{text-align: center;max-width: 800px;margin: auto;color: #3F3F3F;padding: 20px 10px}

.logo_empresas{text-align: center}

.logo_empresas img{width: 250px;height: 120px;padding: 20px;box-sizing: border-box}

.espacio{margin: 5% 0;text-align: center}

footer{background: #009CDE;color: #fff;padding: 2% 12%;font-size: 0.9em}
footer img{width: 100px;margin: auto}
footer .cuadros_footer{margin: 10px;padding: 10px}
footer small{text-align: left}
footer a{color: #fff}
footer .iconos_redes{font-size: 2em}
footer i{margin: 0 5px}
.copy{text-align: center}

.centro{text-align: center;padding: 20px}
/*
**pagina become partner**
*/

.titulo_formulario{color:#3F3F3F;font-weight: 900;text-align: center;margin: 30px 0}
.cuadro-contacto{max-width: 700px;margin: auto}
.color_gris{color:#3F3F3F}


/*
*mediaquery
*/

@media (max-width: 1200px){
   .oferta{max-width: 400px;margin:30% 0% 10% 20%;text-align: left}
    .titulo-tarjetas{font-size: 0.8em}
}

@media (max-width: 1000px){
    .numero{font-size: 350%;font-weight: 800; color: #009CDE;box-sizing: border-box;padding: 10px}
    sup{font-weight: 50%; color: #009CDE;font-size: 150%;}
    .texto_numero{padding: 0% 0;margin-bottom: 40px;text-align: center}
    .btn-boton{margin: 0 0 0 0}
    .pequenio{margin-bottom: 30px}
    .contenido_app_img{padding-top: 5%;text-align: center}
    .oferta_img img{width: 400px;margin: 20px auto}
    .contenido_app{color: #3F3F3F;margin: auto;padding: 40px}
    .contenido_app_img{padding: 0% 0 5% 0}
    .posicion_numero{text-align: center}
    .enlaces_menu{padding: 0 5px}
    
}

@media (max-width: 960px){
  .oferta{margin: 0 auto}  
  .img-banner img { height: 300px;}
}

@media (max-width: 500px){
    .banner{font-size: 1.1em;text-align: center;height: 600px}
    oferta_img img{width: 300px}
    .oferta{text-align: center;margin: 30px}
}